@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');

#header-title {
  background: linear-gradient(to right, #5F1478, #AE276F);
  height: 64px;
}

#header-logo {
  background: transparent url('./images/logo-teste@2x.png') 0% 0% no-repeat padding-box;
  background-size: cover;
  opacity: 1;
  margin-left: 24px;
  width: 192px;
  height: 37px;
}

#search-background {
  width: 100%;
  height: 261px;
  background-image: url("./images/fundo-busca@2x.png");
  background-size: cover;
}

#search-bar {
  margin-top: 150px;
  height: 70px;
  font-family: "Mulish";
}

#search-icon {
  background-color: rgb(246, 244, 246);
  background-image: url("./images/lupa@2x.png");
  background-size: 45%;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 1;
  width: 80px;
}

#results-title-row {
  margin-top: 40px;
}

#results-title {
  color: #5F1478;
  font-family: "Mulish";
  font-weight: 550;
}

#button-new-card {
  float: right;
  background-color: #E76316;
  height: 48px;
  width: 173px;
  font-size: 18px;
  font-family: "Mulish";
  font-weight: bold;
}